<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.BusMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.bus.Bus">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
    <result column="plate_number_pic" jdbcType="VARCHAR" property="plateNumberPic" />
    <result column="bus_supplier" jdbcType="INTEGER" property="busSupplier" />
    <result column="transport_range_morning" jdbcType="INTEGER" property="transportRangeMorning" />
      <result column="transport_range_afternoon" jdbcType="INTEGER" property="transportRangeAfternoon" />
    <result column="bus_mom" jdbcType="INTEGER" property="busMom" />
    <result column="bus_driver" jdbcType="INTEGER" property="busDriver" />
    <result column="school_partition" jdbcType="VARCHAR" property="schoolPartition" />
    <result column="ipad_meid" jdbcType="VARCHAR" property="ipadMeid" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
  </resultMap>
  <resultMap id="StudentInfoResultMap" type="com.eservice.api.model.student.StudentInfo">
      <!--
        WARNING - @mbg.generated
      -->
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
      <result column="head_img" jdbcType="VARCHAR" property="headImg" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="banji" jdbcType="INTEGER" property="banji" />
      <result column="bus_morning" jdbcType="INTEGER" property="busMorning" />
      <result column="bus_afternoon" jdbcType="INTEGER" property="busAfternoon" />
      <result column="board_station_morning" jdbcType="INTEGER" property="boardStationMorning" />
      <result column="board_station_afternoon" jdbcType="INTEGER" property="boardStationAfternoon" />
      <result column="family_info" jdbcType="LONGVARCHAR" property="familyInfo" />

      <result column="banji_name" jdbcType="VARCHAR" property="banjiName"/>
      <result column="bus_number" jdbcType="VARCHAR" property="busNumber"/>
      <result column="board_station_morning_name" jdbcType="VARCHAR" property="boardStationMorningName"/>
      <result column="board_station_afternoon_name" jdbcType="VARCHAR" property="boardStationAfternoonName"/>
  </resultMap>
  <select id="getBusByBusMomAccount" resultMap="BaseResultMap">
   SELECT
	*
	FROM
	bus
    LEFT JOIN `user` AS u ON bus.bus_mom = u.id
    WHERE
	u.account = #{busMomAccount};
  </select>
  <select id="getBusesBySchoolPartition" resultMap="BaseResultMap">
    SELECT
	*
	FROM
	  bus
    where
      bus.school_partition = #{schoolPartition}
  </select>

   <select id="getStudentsByBusNumber" resultMap="StudentInfoResultMap" >
    SELECT
        student.*,
        banji.class_name AS banji_name,
        bus.number AS bus_number,
        bs_morning.station_name AS board_station_morning_name,
        bs_afternoon.station_name AS board_station_afternoon_name
    FROM
        student
    LEFT JOIN bus ON ( student.bus_afternoon = bus.id OR student.bus_morning = bus.id )
    LEFT JOIN banji ON student.banji = banji.id
    LEFT JOIN bus_stations AS bs_morning ON student.board_station_morning = bs_morning.id
    LEFT JOIN bus_stations AS bs_afternoon ON student.board_station_afternoon = bs_afternoon.id
    WHERE
        bus.number = #{busNumber}
   </select>
</mapper>