<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.BusMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.bus.Bus">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
    <result column="plate_number_pic" jdbcType="VARCHAR" property="plateNumberPic" />
    <result column="bus_supplier" jdbcType="INTEGER" property="busSupplier" />
    <result column="transport_range" jdbcType="INTEGER" property="transportRange" />
    <result column="bus_mom" jdbcType="INTEGER" property="busMom" />
    <result column="bus_driver" jdbcType="INTEGER" property="busDriver" />
    <result column="school_partition" jdbcType="VARCHAR" property="schoolPartition" />
    <result column="ipad_meid" jdbcType="VARCHAR" property="ipadMeid" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
  </resultMap>
  <select id="getBusByBusMomAccount" resultMap="BaseResultMap">
   SELECT
	*
	FROM
	bus
    LEFT JOIN `user` AS u ON bus.bus_mom = u.id
    WHERE
	u.account = #{busMomAccount};
  </select>
  <select id="getBusesBySchoolPartion" resultMap="BaseResultMap">
   SELECT
	*
	FROM
	bus
  where
  bus.school_partition = #{schoolPartion}
  </select>
</mapper>