<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.BusStationsMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.bus_stations.BusStations">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="gps_info" jdbcType="VARCHAR" property="gpsInfo" />
    <result column="fare_rate" jdbcType="VARCHAR" property="fareRate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="valid" jdbcType="INTEGER" property="valid" />

  </resultMap>
  <select id="getBusStation" resultMap="BaseResultMap">
  SELECT *
  FROM
  bus_stations as bs
  WHERE
   bs.station_name = #{stationName}
  </select>
  <select id="search" resultMap="BaseResultMap">
    SELECT *
    FROM
    bus_stations as bs
    WHERE bs.valid = 1
    <if test="queryKey != null and queryKey != ''">
      AND bs.station_name LIKE CONCAT('%', '${queryKey}', '%')
    </if>
  </select>
</mapper>