<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MessagesMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.messages.Messages">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>


  <resultMap id="MessagesInfoResultMap" type="com.eservice.api.model.messages.MessagesInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />

    <result column="message_status" jdbcType="VARCHAR" property="messageStatus" />
    <result column="message_user_account" jdbcType="VARCHAR" property="messageUserAccount" />

  </resultMap>

  <insert id="saveAndGetID" useGeneratedKeys="true" parameterType="com.eservice.api.model.messages.Messages"
          keyProperty="id">
    insert into
    messages(send_time, title, publisher, read_count, content)
    values( #{sendTime}, #{title}, #{publisher}, #{readCount}, #{content})
  </insert>
  <select id="getMessages" resultMap="MessagesInfoResultMap">
      SELECT * from messages where 1=1
      <if test="title!=null and title!=''">
          and title LIKE CONCAT('%','${title}','%')
      </if>
  </select>
</mapper>