<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.PickedStudentsInfoMapper">
	<resultMap id="BaseResultMap" type="com.eservice.api.model.picked_students_info.PickedStudentsInfo">
		<!--
		  WARNING - @mbg.generated
		-->
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="transport_record_id" jdbcType="INTEGER" property="transportRecordId"/>
		<result column="board_time" jdbcType="TIMESTAMP" property="boardTime"/>
		<result column="student_id" jdbcType="INTEGER" property="studentId"/>
		<result column="check_mode" jdbcType="INTEGER" property="checkMode"/>
	</resultMap>

	<resultMap id="StudentBusViewMap" type="com.eservice.api.model.picked_students_info.PickedStudentsBusView">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="transport_record_id" jdbcType="INTEGER" property="transportRecordId"/>
		<result column="board_time" jdbcType="TIMESTAMP" property="boardTime"/>
		<result column="student_id" jdbcType="INTEGER" property="studentId"/>
		<result column="check_mode" jdbcType="INTEGER" property="checkMode"/>
		<result column="bus_line" jdbcType="INTEGER" property="busLine"/>
		<result column="current_station" jdbcType="INTEGER" property="currentStation"/>
		<result column="station_name" jdbcType="VARCHAR" property="currentStationName"/>
		<result column="student_stations_morning" jdbcType="VARCHAR" property="studentStationsMorning"/>
		<result column="student_stations_afternoon" jdbcType="VARCHAR" property="studentStationsAfternoon"/>

		<result column="mode_name" jdbcType="VARCHAR" property="modeName"/>
		<result column="student_name" jdbcType="VARCHAR" property="studentName"/>
		<result column="student_number" jdbcType="VARCHAR" property="studentNumber"/>
		<result column="head_img" jdbcType="VARCHAR" property="headImg"/>
		<result column="grade" jdbcType="VARCHAR" property="grade"/>
		<result column="flag" jdbcType="VARCHAR" property="flag" />
		<result column="class_name" jdbcType="VARCHAR" property="className"/>
		<result column="bus_number" jdbcType="VARCHAR" property="busNumber"/>
		<result column="bus_valid" jdbcType="VARCHAR" property="busValid"/>
		<result column="bus_line_stations" jdbcType="VARCHAR" property="busLineStations"/>
		<result column="bus_line_name" jdbcType="VARCHAR" property="busLineName"/>
	</resultMap>

	<select id="selectStudentBus" resultMap="StudentBusViewMap">
		SELECT
		*
		FROM
		(
		SELECT
		psi.*, tr.bus_line,
	        tr.flag as flag,
		tr.current_station,
		bs.station_name,
		bl.`mode` AS mode_name,
		bl.stations as bus_line_stations,
		bl.`name` as bus_line_name,
		s.`name` AS student_name,
		s.student_number,
		s.head_img,
		bj.grade,
		bj.class_name,
		bbi.number AS bus_number,
		bbi.valid AS bus_valid,
		bs_m_stu.station_name as student_stations_morning,
		bs_a_stu.station_name as student_stations_afternoon
		FROM
		`picked_students_info` AS psi
		LEFT JOIN transport_record AS tr ON psi.transport_record_id = tr.id
		LEFT JOIN bus_stations AS bs ON tr.current_station = bs.id
		LEFT JOIN bus_line AS bl ON tr.bus_line = bl.id
		LEFT JOIN bus_base_info AS bbi ON `bl`.bus_base_info = bbi.id
		LEFT JOIN student AS s ON psi.student_id = s.id
		LEFT JOIN banji AS bj ON s.banji = bj.id
		LEFT JOIN bus_stations AS bs_m_stu ON bs_m_stu.id = s.board_station_morning
		LEFT JOIN bus_stations AS bs_a_stu ON bs_a_stu.id = s.board_station_afternoon
		) AS V
		WHERE bus_valid > 0
		<if test="busNumber != null and busNumber != ''">
			AND bus_number ='${busNumber}'
		</if>
		<if test="busStation != null and busStation != ''">
			AND station_name = '${busStation}'
		</if>
		<if test="gradeName != null and gradeName != ''">
			AND grade = '${gradeName}'
		</if>
		<if test="className != null and className != ''">
			AND class_name = '${className}'
		</if>
		<if test="checkMode != null and checkMode != ''">
			AND check_mode = '${checkMode}'
		</if>
		<if test="modeName != null and modeName != ''">
			AND mode_name = '${modeName}'
		</if>
		<if test="flag != null and flag != ''">
			AND flag = '${flag}'
		</if>
		<if test="queryStartTime!=null and queryStartTime != '' ">
			and DATE_FORMAT(board_time,'%Y-%m-%d') &gt;= #{queryStartTime}
		</if>
		<if test="queryFinishTime!=null and queryFinishTime != '' ">
			and DATE_FORMAT(board_time,'%Y-%m-%d') &lt;= #{queryFinishTime}
		</if>
		<if test="keyWord != null and keyWord != ''">
			OR bus_number LIKE CONCAT('%', '${keyWord}', '%')
			OR station_name LIKE CONCAT('%', '${keyWord}', '%')
			OR bus_line_name LIKE  CONCAT('%', '${keyWord}', '%')
		</if>
		ORDER By board_time DESC, bus_number ASC
	</select>

	<select id="getPickedStudentInfo" resultMap="BaseResultMap">
		SELECT *  -- 根据学号和 transport_record_id 查找该学生的上下车信息
		FROM
		picked_students_info as psi
		LEFT JOIN student ON student.id = psi.student_id
		where
		  student.student_number = #{studentNumber}
		  AND
		  psi.transport_record_id = #{transportRecordId}
		</select>
</mapper>