<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.student.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="banji" jdbcType="INTEGER" property="banji" />
    <result column="bus" jdbcType="INTEGER" property="bus" />
    <result column="board_station_morning" jdbcType="VARCHAR" property="boardStationMorning" />
    <result column="board_station_afternoon" jdbcType="VARCHAR" property="boardStationAfternoon" />
    <result column="family_info" jdbcType="LONGVARCHAR" property="familyInfo" />
  </resultMap>
</mapper>