<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.student.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="banji" jdbcType="INTEGER" property="banji" />
    <result column="bus_line_morning" jdbcType="INTEGER" property="busLineMorning" />
    <result column="bus_line_afternoon" jdbcType="INTEGER" property="busLineAfternoon" />
    <result column="board_station_morning" jdbcType="INTEGER" property="boardStationMorning" />
    <result column="board_station_afternoon" jdbcType="INTEGER" property="boardStationAfternoon" />
    <result column="family_info" jdbcType="LONGVARCHAR" property="familyInfo" />

    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="StudentInfoResultMap" type="com.eservice.api.model.student.StudentInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="banji" jdbcType="INTEGER" property="banji" />
    <result column="bus_line_morning" jdbcType="INTEGER" property="busLineMorning" />
    <result column="bus_line_afternoon" jdbcType="INTEGER" property="busLineAfternoon" />
    <result column="board_station_morning" jdbcType="INTEGER" property="boardStationMorning" />
    <result column="board_station_afternoon" jdbcType="INTEGER" property="boardStationAfternoon" />
    <result column="family_info" jdbcType="LONGVARCHAR" property="familyInfo" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />

    <result column="banji_name" jdbcType="VARCHAR" property="banjiName" />
    <result column="bus_number" jdbcType="VARCHAR" property="busNumber" />
    <result column="board_station_morning_name" jdbcType="VARCHAR" property="boardStationMorningName" />
    <result column="board_station_afternoon_name" jdbcType="VARCHAR" property="boardStationAfternoonName" />
    <result column="bus_plate_number" jdbcType="VARCHAR" property="busPlateNumber" />
    <result column="charge_teacher_name" jdbcType="VARCHAR" property="chargeTeacherName" />
    <result column="charge_teacher_phone" jdbcType="VARCHAR" property="chargeTeacherPhone" />
    <result column="board_time" jdbcType="VARCHAR" property="boardTime" />
  </resultMap>

  <select id="getPlannedStudentsMorningByBusNumber" resultMap="StudentInfoResultMap">
    SELECT
        student.*,
        banji.class_name as banji_name,
        bus_base_info.number as bus_number,
        bus_base_info.plate_number as bus_plate_number,
        user_bzr.`name` AS charge_teacher_name,
        user_bzr.phone AS charge_teacher_phone,
        bus_stations.station_name AS board_station_morning_name,
        bs_a.station_name AS board_station_afternoon_name
    FROM
        student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line ON bus_line.id = student.bus_line_morning
    LEFT JOIN bus_base_info ON bus_base_info.id = bus_line.bus_base_info
    LEFT JOIN bus_stations ON bus_stations.id = student.board_station_morning
    LEFT JOIN bus_stations AS bs_a ON bs_a.id = student.board_station_afternoon
    LEFT JOIN user AS user_bzr ON banji.charge_teacher = user_bzr.id
    WHERE
    student.valid = 1
    <if test="busNumber != null and busNumber != ''">
      and bus_base_info.number = #{busNumber}
    </if>
  </select>
<!-- todo 测试afternoon-->
  <select id="getPlannedStudentsAfternoonByBusNumber" resultMap="StudentInfoResultMap">
    SELECT
      student.*,
      banji.class_name as banji_name,
      bus_base_info.number as bus_number,
      bus_base_info.plate_number as bus_plate_number,
      user_bzr.`name` AS charge_teacher_name,
      user_bzr.phone AS charge_teacher_phone,
      bus_stations.station_name AS board_station_afternoon_name,
      bs_m.station_name AS board_station_morning_name
    FROM
        student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line ON bus_line.id = student.bus_line_afternoon
    LEFT JOIN bus_base_info ON bus_base_info.id = bus_line.bus_base_info
    LEFT JOIN bus_stations ON bus_stations.id = student.board_station_afternoon
    LEFT JOIN bus_stations AS bs_m ON bs_m.id = student.board_station_morning
    LEFT JOIN user AS user_bzr ON banji.charge_teacher = user_bzr.id
    WHERE
    student.valid = 1
    <if test="busNumber != null and busNumber != ''">
       AND bus_base_info.number = #{busNumber}
    </if>
  </select>

  <select id="getStudents" resultMap="StudentInfoResultMap">
    SELECT
      stu.*,
      banji.class_name as banji_name,
      bus_base_info.number as bus_number,
      bus_stations.station_name AS board_station_morning_name,
      bs_m.station_name as board_station_afternoon_name
    FROM
        student AS stu
    LEFT JOIN banji ON banji.id = stu.banji
    LEFT JOIN bus_line ON bus_line.id = stu.bus_line_afternoon
    LEFT JOIN bus_base_info ON bus_base_info.id = bus_line.bus_base_info
    LEFT JOIN bus_stations ON bus_stations.id = stu.board_station_afternoon
    LEFT JOIN bus_stations as bs_m ON bs_m.id = stu.board_station_morning
    WHERE
      stu.valid = 1
    <if test="gradeName != null and gradeName != ''">
      AND banji.grade = #{gradeName}
    </if>
    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>
    <if test="queryKey != null and queryKey != ''">
      AND (stu.student_number LIKE CONCAT('%', '${queryKey}', '%')
           OR stu.name LIKE CONCAT('%', '${queryKey}', '%')
           OR bus_stations.station_name LIKE CONCAT('%', '${queryKey}', '%')
           OR bus_base_info.number LIKE CONCAT('%', '${queryKey}', '%'))
    </if>
  </select>
  <select id="getStudentInfo" resultMap="StudentInfoResultMap">
    SELECT
        student.*,
        banji.class_name as banji_name,
        bus_base_info.number as bus_number,
        bus_stations_a.station_name as board_station_afternoon_name,
        bus_stations_m.station_name as board_station_morning_name
    FROM
        student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line ON bus_line.id = student.bus_line_afternoon
    LEFT JOIN bus_base_info ON bus_base_info.id = bus_line.bus_base_info
    LEFT JOIN bus_stations as bus_stations_a ON bus_stations_a.id = student.board_station_afternoon
    LEFT JOIN bus_stations as bus_stations_m ON bus_stations_m.id = student.board_station_morning
    WHERE
--     student.valid = 1
	  student.student_number  = #{studentNumber}
  </select>

  <select id="getPlannedStudentsMorning" resultMap="StudentInfoResultMap">
    SELECT
    student.*,
    banji.class_name as banji_name,
    bus_base_info.number as bus_number,
    bus_stations.station_name AS board_station_morning_name,
    bs_a.station_name AS board_station_afternoon_name
    FROM
    student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line ON bus_line.id = student.bus_line_morning
    LEFT JOIN bus_base_info ON bus_base_info.id = bus_line.bus_base_info
    LEFT JOIN bus_stations ON bus_stations.id = student.board_station_morning
    LEFT JOIN bus_stations AS bs_a ON bs_a.id = student.board_station_afternoon
    WHERE
    student.valid = 1
    <if test="busNumber != null and busNumber != ''">
      AND bus_base_info.number = #{busNumber}
    </if>
    <if test="busStation != null and busStation != ''">
      AND bus_stations.station_name = #{busStation}
    </if>

    <if test="gradeName != null and gradeName != ''">
      AND banji.grade = #{gradeName}
    </if>

    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>
      AND bus_line.`mode` = '上学'
  </select>
  <select id="getPlannedStudentsAfternoon" resultMap="StudentInfoResultMap">
    SELECT
      student.*,
      banji.class_name as banji_name,
      bus_base_info.number as bus_number,
      bus_stations.station_name AS board_station_afternoon_name,
      bs_m.station_name AS board_station_morning_name
    FROM
      student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line ON bus_line.id = student.bus_line_afternoon
    LEFT JOIN bus_base_info ON bus_base_info.id = bus_line.bus_base_info
    LEFT JOIN bus_stations ON bus_stations.id = student.board_station_afternoon
    LEFT JOIN bus_stations AS bs_m ON bs_m.id = student.board_station_morning
    WHERE
    student.valid = 1
    <if test="busNumber != null and busNumber != ''">
      AND  bus_base_info.number = #{busNumber}
    </if>
    <if test="busStation != null and busStation != ''">
      AND bus_stations.station_name = #{busStation}
    </if>

    <if test="gradeName != null and gradeName != ''">
      AND banji.grade = #{gradeName}
    </if>

    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>
      AND bus_line.`mode` = '放学'
  </select>

  <select id="getPlannedStudents" resultMap="StudentInfoResultMap">
    SELECT
    student.*, banji.class_name AS banji_name,
    bus_base_info.number AS bus_number,
    bs_a.station_name AS board_station_afternoon_name,
    bs_m.station_name AS board_station_morning_name
    FROM
    student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line as bl_a ON bl_a.id = student.bus_line_afternoon --  早班午班同一辆车
    LEFT JOIN bus_base_info ON bus_base_info.id = bl_a.bus_base_info  -- 早班午班同一辆车

    LEFT JOIN bus_stations as bs_a ON bs_a.id = student.board_station_afternoon  -- 早班午班同一站
    LEFT JOIN bus_stations as bs_m ON bs_m.id = student.board_station_morning -- 早班午班同一站
    WHERE
    student.valid = 1
    <if test="busNumber != null and busNumber != ''">
      AND  bus_base_info.number = #{busNumber}
    </if>
    <if test="busStation != null and busStation != ''">
      AND bus_stations.station_name = #{busStation}
    </if>

    <if test="gradeName != null and gradeName != ''">
      AND banji.grade = #{gradeName}
    </if>

    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>
  </select>

  <select id="getPlannedClassStudents" resultMap="StudentInfoResultMap">
    SELECT
    student.*, banji.class_name AS banji_name,
    bus_base_info.number AS bus_number,
    bs_a.station_name AS board_station_afternoon_name,
    bs_m.station_name AS board_station_morning_name
    FROM
    student
    LEFT JOIN banji ON banji.id = student.banji
    LEFT JOIN bus_line as bl_a ON bl_a.id = student.bus_line_afternoon --  早班午班同一辆车
    LEFT JOIN bus_base_info ON bus_base_info.id = bl_a.bus_base_info  -- 早班午班同一辆车

    LEFT JOIN bus_stations as bs_a ON bs_a.id = student.board_station_afternoon  -- 早班午班同一站
    LEFT JOIN bus_stations as bs_m ON bs_m.id = student.board_station_morning -- 早班午班同一站
    WHERE
    student.valid = 1

    <if test="queryKey != null and queryKey != ''">
      AND (student.student_number LIKE CONCAT('%', '${queryKey}', '%')
      OR student.name LIKE CONCAT('%', '${queryKey}', '%')
      OR bs_a.station_name LIKE CONCAT('%', '${queryKey}', '%')
      OR bus_base_info.number LIKE CONCAT('%', '${queryKey}', '%'))
    </if>

    <if test="gradeName != null and gradeName != ''">
      AND banji.grade = #{gradeName}
    </if>

    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>
  </select>

</mapper>