<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.TransportRangeMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.transport_range.TransportRange">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="night_line_flag" jdbcType="VARCHAR" property="nightLineFlag" />
    <result column="stations" jdbcType="LONGVARCHAR" property="stations" />
    <result column="range_name" jdbcType="VARCHAR" property="rangeName" />
  </resultMap>

  <select id="getTransportRangeByBusNumberAndBusMode" resultMap="BaseResultMap">
    SELECT
      transport_range.*,
      bl.*,
      bbi.*
    FROM
        transport_range
    LEFT JOIN bus_line AS bl ON transport_range.id = bl.transport_range
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bl.bus_base_info
    WHERE
        bbi.number = #{busNumber}
    AND bl.`mode` = #{busMode}
  </select>
</mapper>