<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.TransportRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.transport_record.TransportRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="bus_line" jdbcType="INTEGER" property="busLine" />
    <result column="current_station" jdbcType="INTEGER" property="currentStation" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="bus_number_in_tr" jdbcType="VARCHAR" property="busNumberInTR" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="begin_time" jdbcType="DATE" property="beginTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
  </resultMap>
  <resultMap id="TransportRecordInfoResultMap" type="com.eservice.api.model.transport_record.TransportRecordInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="bus_line" jdbcType="INTEGER" property="busLine" />
    <result column="current_station" jdbcType="INTEGER" property="currentStation" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="bus_number" jdbcType="VARCHAR" property="busNumber" />

    <result column="bus_number" jdbcType="VARCHAR" property="busNumber" />
    <result column="board_station_name_morning" jdbcType="VARCHAR" property="boardStationNameMorning" />
    <result column="board_station_name_afternoon" jdbcType="VARCHAR" property="boardStationNameAfternoon" />
    <result column="board_time" jdbcType="VARCHAR" property="boardTime" />
    <result column="student_grade" jdbcType="VARCHAR" property="studentGrade" />
    <result column="student_banji" jdbcType="VARCHAR" property="studentBanji" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="current_station_name" jdbcType="VARCHAR" property="currentStationName" />
    <result column="bus_line_stations" jdbcType="LONGVARCHAR" property="busLineStations" />
    <result column="bus_line_name" jdbcType="VARCHAR" property="busLineName" />

    <result column="mode" jdbcType="VARCHAR" property="mode" />

  </resultMap>

  <select id="selectTransportRecord" resultMap="TransportRecordInfoResultMap">
    SELECT
    tr.*,
    bbi.number as bus_number ,
    bus_stations_m.station_name as  board_station_name_morning,
    bus_stations_a.station_name as board_station_name_afternoon,
    bus_stations_c.station_name as current_station_name,
    psi.board_time,
    banji.grade as student_grade,
    banji.class_name as student_banji,
    student.student_number,
    student.`name` as student_name,
    bus_line.`mode`,
    bus_line.stations as bus_line_stations,
    bus_line.`name` as bus_line_name
    FROM transport_record AS tr
    LEFT JOIN bus_line on tr.bus_line = bus_line.id
    LEFT JOIN bus_base_info as bbi on bus_line.bus_base_info=bbi.id
    LEFT JOIN picked_students_info as psi on psi.transport_record_id = tr.id
    LEFT JOIN student on psi.student_id = student.id
    LEFT JOIN bus_stations as bus_stations_m on bus_stations_m.id = student.board_station_morning
    LEFT JOIN bus_stations as bus_stations_a on bus_stations_a.id = student.board_station_afternoon
    LEFT JOIN bus_stations as bus_stations_c on bus_stations_c.id = tr.current_station
    LEFT JOIN banji on banji.id = student.banji
  WHERE
    1 = 1
    <if test="queryStartTime != null and queryStartTime != ''">
      AND DATE_FORMAT(  psi.board_time,  '%Y-%m-%d %T'  ) >= #{queryStartTime}
    </if>
    <if test="queryFinishTime != null and queryFinishTime != ''">
      AND DATE_FORMAT(  psi.board_time,  '%Y-%m-%d %T'  ) &lt;= #{queryFinishTime}
    </if>

    <if test="studentName != null and studentName != ''">
      AND student.`name` LIKE CONCAT('%', '${studentName}', '%')
    </if>
    <if test="studentNumber != null and studentNumber != ''">
      AND student.student_number = #{studentNumber}
    </if>

    <if test="busNumber != null and busNumber != ''">
      AND bbi.number = #{busNumber}
    </if>

    <if test="busMode != null and busMode != ''">
      AND bus_line.`mode` = #{busMode}
    </if>

    <if test="busStationName != null and busStationName != ''">
      AND ( bus_stations_a.station_name = #{busStationName}  and bus_stations_m.station_name = #{busStationName} )
    </if>

    <if test="grade != null and grade != ''">
      AND banji.grade = #{grade}
    </if>

    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>

    <if test="recordFlag != null and recordFlag != ''">
    AND tr.flag = #{recordFlag}
    </if>

    <if test="recordStatus != null and recordStatus != ''">
    AND tr.`status` = #{recordStatus}
    </if>

    ORDER BY tr.begin_time desc
  </select>

  <select id="getUnplannedStudentsMorning" resultMap="com.eservice.api.dao.StudentMapper.BaseResultMap">
    SELECT
    bbi.*, tr.*, student.*
    FROM
    transport_record AS tr
    LEFT JOIN picked_students_info AS psi ON psi.transport_record_id = tr.id
    LEFT JOIN student ON student.id = psi.student_id
    LEFT JOIN bus_line ON bus_line.id = tr.bus_line
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bus_line.bus_base_info
    WHERE
      DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) >= #{queryStartTime}
      AND DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) &lt;= #{queryFinishTime}
      AND bbi.number = #{busNumber}
      AND student.bus_line_morning != tr.bus_line
  </select>

  <select id="getUnplannedStudentsAfternoon" resultMap="com.eservice.api.dao.StudentMapper.BaseResultMap">
    SELECT
      bbi.*,tr.*, student.*
    FROM
      transport_record AS tr
    LEFT JOIN picked_students_info AS psi ON psi.transport_record_id = tr.id
    LEFT JOIN student ON student.id = psi.student_id
    LEFT JOIN bus_line ON bus_line.id = tr.bus_line
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bus_line.bus_base_info
    WHERE
      DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) >= #{queryStartTime}
      AND DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) &lt;= #{queryFinishTime}
      AND bbi.number = #{busNumber}
      AND student.bus_line_afternoon != tr.bus_line
  </select>

  <select id="getTransportRecord" resultMap="BaseResultMap">
    SELECT
	*
    FROM
        transport_record AS tr
    LEFT JOIN bus_line AS bl ON bl.id = tr.bus_line
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bl.bus_base_info
    WHERE  1=1
    <if test="busNumber != null and busNumber != ''">
      AND tr.bus_number_in_tr = #{busNumber}
    </if>
    <if test="busMode != null and busMode != ''">
      AND bl.`mode` = #{busMode}
    </if>

    <if test="queryDate != null and queryDate != ''">
      AND DATE_FORMAT( tr.date,  '%Y-%m-%d' ) = #{queryDate}
    </if>

    <if test="busLineName != null and busLineName != ''">
      and bl.`name` = #{busLineName}
    </if>
  </select>

  <insert id="saveAndGetID" useGeneratedKeys="true" parameterType="com.eservice.api.model.transport_record.TransportRecord"
          keyProperty="id">
    insert into
    transport_record(date, bus_line, current_station,flag,bus_number_in_tr,status,begin_time,end_time)
    values( #{date}, #{busLine}, #{currentStation}, #{flag}, #{busNumberInTR}, #{status}, #{beginTime}, #{endTime})
  </insert>
  <select id="getStudentsByTransportRecordId" resultMap="com.eservice.api.dao.StudentMapper.StudentInfoResultMap">
    SELECT
        tr.*, psi.*, student.*, banji.*,banji.class_name as banji_name
    FROM
        transport_record AS tr
    LEFT JOIN picked_students_info AS psi ON psi.transport_record_id = tr.id
    LEFT JOIN student ON psi.student_id = student.id
    LEFT JOIN banji ON banji.id = student.banji
    WHERE
        tr.id = #{TransportRecordId}
-- 晚班选了已选 ，但是没有学生上车，等没有学生上车记录的情况
        and student.id is not null

  </select>

</mapper>