<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.TransportRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.transport_record.TransportRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="bus_line" jdbcType="INTEGER" property="busLine" />
    <result column="current_station" jdbcType="INTEGER" property="currentStation" />
  </resultMap>
  <resultMap id="TransportRecordInfoResultMap" type="com.eservice.api.model.transport_record.TransportRecordInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="bus_line" jdbcType="INTEGER" property="busLine" />
    <result column="current_station" jdbcType="INTEGER" property="currentStation" />

    <result column="bus_number" jdbcType="VARCHAR" property="busNumber" />
    <result column="board_station_name_morning" jdbcType="VARCHAR" property="boardStationNameMorning" />
    <result column="board_station_name_afternoon" jdbcType="VARCHAR" property="boardStationNameAfternoon" />
    <result column="board_time" jdbcType="VARCHAR" property="boardTime" />
    <result column="student_grade" jdbcType="VARCHAR" property="studentGrade" />
    <result column="student_banji" jdbcType="VARCHAR" property="studentBanji" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
  </resultMap>

  <select id="selectTransportRecord" resultMap="TransportRecordInfoResultMap">
    SELECT
    tr.*,
    bbi.number as bus_number ,
    bus_stations_m.station_name as  board_station_name_morning,
    bus_stations_a.station_name as board_station_name_afternoon,
    psi.board_time,
    banji.grade as student_grade,
    banji.class_name as student_banji,
    student.student_number,
    student.`name` as student_name,
    bus_line.`mode`

    FROM transport_record AS tr
    LEFT JOIN bus_line on tr.bus_line = bus_line.id
    LEFT JOIN bus_base_info as bbi on bus_line.bus_base_info=bbi.id
    LEFT JOIN transport_range on bus_line.transport_range = transport_range.id
    LEFT JOIN picked_students_info as psi on psi.transport_record_id = tr.id
    LEFT JOIN student on psi.student_id = student.id
    LEFT JOIN bus_stations as bus_stations_m on bus_stations_m.id = student.board_station_morning
    LEFT JOIN bus_stations as bus_stations_a on bus_stations_a.id = student.board_station_afternoon
    LEFT JOIN banji on banji.id = student.banji
  WHERE
    1 = 1
    <if test="queryStartTime != null and queryStartTime != ''">
      AND DATE_FORMAT(  psi.board_time,  '%Y-%m-%d %T'  ) >= #{queryStartTime}
    </if>
    <if test="queryFinishTime != null and queryFinishTime != ''">
      AND DATE_FORMAT(  psi.board_time,  '%Y-%m-%d %T'  ) &lt;= #{queryFinishTime}
    </if>

    <if test="studentName != null and studentName != ''">
      AND student.`name` LIKE CONCAT('%', '${studentName}', '%')
    </if>

    <if test="busNumber != null and busNumber != ''">
      AND bbi.number = #{busNumber}
    </if>

    <if test="busMode != null and busMode != ''">
      AND bus_line.`mode` = #{busMode}
    </if>

    <if test="busStationName != null and busStationName != ''">
      AND ( bus_stations_a.station_name = #{busStationName}  OR bus_stations_m.station_name = #{busStationName} )
    </if>

    <if test="grade != null and grade != ''">
      AND banji.grade = #{grade}
    </if>

    <if test="className != null and className != ''">
      AND banji.class_name = #{className}
    </if>
</select>

  <select id="getUnplannedStudentsMorning" resultMap="com.eservice.api.dao.StudentMapper.BaseResultMap">
    SELECT
    bbi.*, tr.*, student.*
    FROM
    transport_record AS tr
    LEFT JOIN picked_students_info AS psi ON psi.transport_record_id = tr.id
    LEFT JOIN student ON student.id = psi.student_id
    LEFT JOIN bus_line ON bus_line.id = tr.bus_line
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bus_line.bus_base_info
    WHERE
      DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) >= #{queryStartTime}
      AND DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) &lt;= #{queryFinishTime}
      AND bbi.number = #{busNumber}
      AND student.bus_line_morning != tr.bus_line
  </select>

  <select id="getUnplannedStudentsAfternoon" resultMap="com.eservice.api.dao.StudentMapper.BaseResultMap">
    SELECT
      bbi.*,tr.*, student.*
    FROM
      transport_record AS tr
    LEFT JOIN picked_students_info AS psi ON psi.transport_record_id = tr.id
    LEFT JOIN student ON student.id = psi.student_id
    LEFT JOIN bus_line ON bus_line.id = tr.bus_line
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bus_line.bus_base_info
    WHERE
      DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) >= #{queryStartTime}
      AND DATE_FORMAT(  tr.date,  '%Y-%m-%d %T'  ) &lt;= #{queryFinishTime}
      AND bbi.number = #{busNumber}
      AND student.bus_line_afternoon != tr.bus_line
  </select>

  <select id="getTransportRecord" resultMap="BaseResultMap">
    SELECT
	*
    FROM
        transport_record AS tr
    LEFT JOIN bus_line AS bl ON bl.id = tr.bus_line
    LEFT JOIN bus_base_info AS bbi ON bbi.id = bl.bus_base_info
    WHERE
        bbi.number = #{busNumber}
    AND bl.`mode` = #{busMode}
    AND tr.date = #{queryDate}
  </select>

</mapper>